<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
      <% @products.each do |product| %>
        <li data-target="#myCarousel" data-slide-to="<%= product.id %>" class="<% if product == @products.first %>
              active
            <% end %>"></li>
      <% end %>
    </ol>
    <div class="carousel-inner">
      <% @products.each do |product| %>
        <div class="<% if product == @products.first %>
              item active
            <% else %>
              item
            <% end %>">
          <%= link_to product_path(product) do %>
            <% if product.image.present? %>
              <%= image_tag(product.image.url) %>
            <% else %>
              <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
            <% end %>
            <div class="carousel-caption"></div>
          <% end %>
        </div>
      <% end %>
    </div>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
