<h2> Product List </h2>
<div class="pull-right" style="padding-bottom: 20px;">
  <%= link_to("新增产品分类", new_admin_product_category_path, class: "btn btn-primary btn-sm") %>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th width="220">ProductCategory Name</th>
      <th>Name</th>

    </tr>
  </thead>
  <tbody>
    <% @product_categorys.each do |product| %>
      <tr>
        <td>
          <%= product.id %>
        </td>

        <td>
          <%= product.name %>
        </td>

        <td>
          <%= link_to("Edit", edit_admin_product_category_path(product)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
