<h2> New ProductCategory </h2>

<%= simple_form_for [:admin, @product_category] do |f| %>

  <div class="group">
    <%= f.input :name %>
  </div>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

<% end %>
