/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.navbar-default {
    background-color: #FFFFFF;//背景颜色
    border-color: #FFFFFF;//边框色
    padding: 4px 0px; //内边距 上下 4px ，左右0px
    margin-bottom: 0;//底部 margin 不撑开距离
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0;//圆角为0
    }
}

.navbar-default .navbar-brand {
   color: #00ce96;//字体颜色
   padding: 10px 15px;//上下10px,左右15px
   line-height: 30px;//文字行高
   font-size: 26px;
}
