<footer class="footer" style="margin-top: 100px;">

    <p> <a href="https://oneplus.net/about-us">About OnePlus</a> | <a href="https://oneplus.net/careers">Careers</a> | <a href="https://oneplus.net/press">Press</a> </p>
	<p>
    <span class="logo-text">Copyright ©2017 OnePlusJDstore</span>
    <span class="icp-center">Design by 曾祥荣</span>
	</p>
</footer>
